/* Sidebar.scss */
.sidebar {
  position: fixed;
  top: 0;
  left: -270px; /* Initially off-screen */
  width: 250px;
  height: 100%;
  background-color: #171f2a;
  color: white;
  transition: left 0.3s ease-in-out; /* Transitioning left for a smooth effect */
  padding-top: 100px;
  z-index: 1;
  padding-left: 30px;
}

.sidebar.open {
  left: 0; /* Move sidebar into view when toggled */
}

.sidebar.large-screen {
  left: 0; /* Ensure sidebar is always visible on large screens */
}

/* Hamburger menu for small screens */
.hamburger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px 0;
  background-color: white;
}

.sidebar-menu {
  padding: 0;
}

.sidebar-item {
  list-style: none;
  font-size: 17px;
  padding: 15px 0;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}

.sidebar-item-2 {
  list-style: none;
  font-size: 17px;
  padding: 15px 0;
  cursor: pointer;
  color: white;
}

.sidebar-icon {
  width: 25px;
  margin-right: 20px;
}
.button-menu {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-menu:hover {
  background-color: #3c4b61;
}