.crypto-data-containerr {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd;
    border-radius: 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }
  
  .crypto-tablee {
    overflow-x: auto; 
    background-color: #ddd;
    color: black; /* Make the table horizontally scrollable on small screens */
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  tr {
    background-color: #ddd;
    font-weight: bold;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #ddd;
    font-weight: bold;
  }
}
  .crypto-roww {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .crypto-roww:hover {
    background-color: #f1f1f1;
  }
  
  .coin-logoo {
    display: flex;
    align-items: center;
  }
  
  .coin-logo11 {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    table {
      font-size: 14px; /* Adjust font size for mobile view */
    }
  
    th, td {
      padding: 8px;
    }
  
    .coin-logoo {
      font-size: 14px; /* Adjust font size for mobile */
    }
  }
  