.faq-section {
    margin: auto;
    justify-content: center;
    font-family: "Lato", serif;
    font-weight: 700;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;    
    h1{
        padding-top: 5%;
        font-size: 2.5em;
    }

    

    h2 {
        cursor: pointer;
        padding: 10px;
        color: black;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.5em;
        transition: 0.4s;
        margin: 10px 0;
        text-decoration: underline;
        
    }

    .arrow-down{
        justify-content: right;
    }

    .faq-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #0f172a;
        margin-bottom: 10px;
        text-align: left;
        justify-content: start;
        color: white;

        &.active {
            display: block;
        }
    }
}

.large{
    font-size: 25px;
    color: #0f172a;
}

.align-collapse{
    display: flex;
}

.padding-home{
    padding-right: 20px;
    padding-left: 20px;
}


@media screen and (max-width: 1024px) {
    .padding-home{
        padding-right: 0px;
        padding-left: 0px;
    }
}