

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chart-container {
  margin-bottom: 40px;
  color: #0bd7b5;
}

.transactions-table {
  width: 100%;
  overflow-x: auto;
}

.scrollable-table {
  width: 100%;
  border-collapse: collapse;

  .scrollable-table-th, .scrollable-table-td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #0bd7b5;
  }

  .scrollable-table-th {
    background-color: #f4f4f4;
  }

  .scrollable-table-td {
    word-wrap: break-word;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0bd7b5;
  }

  
  .status {
    &.pending {
      color: red; /* Set the text color to red for Pending status */
      font-weight: bold;
      border-bottom: 1px solid #ddd;

    }
    /* You can add other statuses here */
    &.complete {
      color: #0bd7b5; /* Example for 'Complete' status */
      border-bottom: 1px solid #ddd;

    }
  }
  
}

.transaction-cell {
  position: relative;
}

.truncated {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: normal;
  color: #0bd7b5;
  text-decoration: underline;
}

.full-text {
  display: none;
  font-weight: normal;
}

.truncated:hover + .full-text {
  display: inline-block;
}

.full-text {
  word-wrap: break-word;
  color: #000;
}

.truncated:hover {
  color: #0056b3;
}



