.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .modal-header {
      width: 80%;
      display: flex;
      justify-content: center;
  
      .modal-logo {
        width: 150px;
        height: auto;
        padding-bottom: 10px;
      }
    }
  
    .modal-body {
      width: 80%;
  
      h2 {
        text-align: center;
        color: #333;
      }
  
      form {
        display: flex;
        flex-direction: column;
        
  
        .form-group {
          margin-bottom: 3px;
  
          label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
            text-align: left;
          }
  
          input, textarea {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
  
            &:focus {
              border-color: hsla(28, 40%, 45%, 1);
              outline: none;
            }
          }
  
          textarea {
            resize: none;
            height: 100px;
          }
        }
      }
  
      .submit-button {
        background-color: hsla(28, 40%, 45%, 1);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: rgb(137, 98, 65);
        }
      }
    }
  
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      font-size: 16px;
      cursor: pointer;
      color: #555;
  
      &:hover {
        color: #000;
      }
    }
  }
  
.report-button{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px; /* Adjust padding */
  background-color: hsla(28, 40%, 56%, 1); /* Login button background color */
  color: black; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  white-space: nowrap; /* Prevent text from wrapping */
  font-weight: inherit; /* Make text bold */
  line-height: 16px; /* Adjust line height for better alignment */
  font-size: 16px; /* Set font size */
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out; /* Smooth transitions for background and shadow */
  cursor: pointer; /* Change cursor to pointer on hover */
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; /* Prevent text selection */
  margin-bottom: 10px;

  &:hover {
    background-color:   hsla(28, 40%, 45%, 1); /* Darken background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }
}

@media screen and (max-width: 768px){


 
   
.report-button{
  height: 45px;
  display: flex;
  margin-left: 15%;
width: 230px;
  padding: 10px 16px; /* Adjust padding */
  margin-left: 20%;
  background-color: hsla(28, 40%, 56%, 1); /* Login button background color */
  color: black; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  white-space: nowrap; /* Prevent text from wrapping */
  font-weight: inherit; /* Make text bold */
  line-height: 16px; /* Adjust line height for better alignment */
  font-size: 16px; /* Set font size */
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out; /* Smooth transitions for background and shadow */
  cursor: pointer; /* Change cursor to pointer on hover */
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; /* Prevent text selection */
  

  &:hover {
    background-color:   hsla(28, 40%, 45%, 1); /* Darken background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }
}
}


@media screen and (max-width: 480px){

 
   
.report-button{
  
  margin-left: 15%;
  height: 45px;
  display: flex;
  width: 230px;

  padding: 10px 16px; /* Adjust padding */
  background-color: hsla(28, 40%, 56%, 1); /* Login button background color */
  color: black; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  white-space: nowrap; /* Prevent text from wrapping */
  font-weight: inherit; /* Make text bold */
  line-height: 16px; /* Adjust line height for better alignment */
  font-size: 16px; /* Set font size */
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out; /* Smooth transitions for background and shadow */
  cursor: pointer; /* Change cursor to pointer on hover */
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; /* Prevent text selection */
  margin-bottom: 10px;

  &:hover {
    background-color:   hsla(28, 40%, 45%, 1); /* Darken background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }
}
}
