.crypto-data-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.crypto-data {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.crypto-list {
  width: 50%;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 50vh; /* Make the list scrollable */
}

.crypto-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 100%;            /* Set the width of the parent container */
  height: 70px;
  &:hover {
    transform: scale(1.05);
  }
  .coin-row > div {
    flex: 1;                /* This ensures each div takes up equal width */
    padding: 10px;          /* Optional: adds padding between the divs */
    box-sizing: border-box; /* Ensures padding is included in width */
  }

  .coin-logo {
    flex: 1;
    .coin-logo1{
    width: 35px;
    height: 35px;
    }
  }
  .coin-name{ 
    display: grid;
    align-items: flex-start;
    text-align: left;
    flex: 1;
  h3 {
margin-top: 10px;
margin-bottom: 0px;
    font-size: 1rem;
  }
  h4 {
    margin-top: 0px;
    margin-bottom: 10px;
        font-size: 0.8rem;
  }
  }
  .coin-price{
    display: grid;
    text-align: left;
    flex: 1;
  p {
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 0px;

  }
}

.coin-change{
  display: grid;
  text-align: left;
  flex: 1;

  p {
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

}

.crypto-graph {
  width: 50%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .crypto-data {
    flex-direction: column;
  }

  .crypto-list {
    width: 95%;
    margin-bottom: 20px;
  }

  .crypto-graph {
    width: 95%;
  }
}
