.video-carousel {
  display: flex;
  flex-direction: row; /* Ensure content and video are side by side */
  align-items: center;
  justify-content: flex-start;
  height: 55vh; /* Full viewport height */
}

.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%; /* Take up 50% of the screen */
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.carousel-content h1 {
  font-size: 3rem; /* Large font size for header */
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel-text p {
  font-size: 1.2rem; /* Smaller font size for the paragraph */
  margin-bottom: 30px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  border: 0.3px solid grey;
  transition: opacity 0.3s ease;
}

.dot.active {
  opacity: 1;
  background-color: rgb(150, 150, 150);
}

.modal {
  margin-top: 20px;
  justify-content: center;
}

.video-box {
  width: 50%; /* Make the video take up 50% of the width */
  height: 100%; /* Full height for video */
  text-align: right;
  padding: 20px;
}

.video-background {
  height: 80%;
  object-fit: cover;
  width: 90%;
  margin-top: 30px;
  border-radius: 15px;


}
 @media screen and (max-width: 1024px) {
  .video-carousel {
    display: flex;
    flex-direction: column; /* Ensure content and video are side by side */
    align-items: center;
    height: 55vh; /* Full viewport height */
    margin-bottom: 180px;
  }
  .video-box {
    height: 100%; /* Full height for video */
  width: 100%;
  margin-left: -40px;
 }
  
  .carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%; /* Take up 50% of the screen */
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
  }

  .carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 75px;
  }
}


 