.App {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;

}

.dashboard {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1024px) {
  .App{
  padding-left: 0px;
  padding-right: 0px;
  }
}
.app-container {
  display: flex;
}

.navbar-container {
  margin-left: 250px; 
  width: calc(100% - 250px);
}

.main-content {
  margin-left: 200px;
  padding: 15px;
  min-height: 100vh;
}
