.section3 {
  padding: 40px 20px;
  text-align: left;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: #000000;
  }

 
  .processes-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
  }

  .process-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: calc(25% - 20px); /* 4 equal-width columns with space between */
    height: 200px; /* Set equal height */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 0.3px solid hsla(28, 40%, 45%, 1);
  }

  .process-icon {
    width: 35px;
    height: 35px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  h4 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: black;
  }

  @media (max-width: 768px) {
    


         h3 {
          font-size: 2.5rem;
          margin-bottom: 30px;
          font-weight: 700;
          color: #000000;
          text-align: center;
        }
      
    .process-card {
      width: 48%; /* On mobile, take almost half the width */
      height: auto;
    }
    .processes-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }
  }
  
  @media (max-width: 480px) {



      h3 {
       font-size: 2.5rem;
       margin-bottom: 30px;
       font-weight: 700;
       color: #000000;
       text-align: center;
     }
   
    .process-card {
      width: 100%; /* On very small screens, stack them */
    }
    .processes-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }
  }
}

